#list-header
{
    font-size: 9dvw;
    text-align: center;
    padding: 3dvh;
}
.recording{
    position: relative;
    background: rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 15px;
    font-size: 20px;
}
.recording .more {
    position: absolute;
    right: 15px;
}
.recording .edit {
    font-size: 25px;
    position: absolute;
    top: 10px;
    right: 90px;
}
.recording .remove {
    font-size: 25px;
    position: absolute;
    top: 10px;
    right: 45px;
}
.recording .date{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding: 5px;
}

#recordings-info {
    text-align: center;
    font-size: x-large;
    color: rgba(0, 0, 0, .2);
}

.dialogBox {
    background: linear-gradient(0deg, rgba(119,0,0,.8) 0%, rgba(0,0,0,.8) 100%);
    color: white;
    border: #a8a8a8;
    border-radius: 12px;
    position: relative;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
}
.dialogBox span {
    display: block;
    text-align: center
}
.dialogBox input {
    text-align: center;
    margin: 10px;
    background: transparent;
    border: none;
    border-bottom: 3px solid #ffffff;
    color: white;
    outline: none;
}
.dialogBox button {
    border: none;
    background-color: rgb(255, 255, 255, 0.2);
    color: white;
    padding: 3px 10px;
    margin: 5px;
}
.dialogBox #button-box {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}