@page "/recorder";

@inject AudioService AudioService;

<div class="flex-column mt3">
    <div class="f5 mb2">
        Record an audio
    </div>
    <div class="f5 mb2">
        @if (!AudioService.IsRecording)
        {
            <button @onclick="StartRecording"> Start</button>
        }
        else
        {
            <button @onclick="StopRecording"> Stop</button>
        }
    </div>
</div>
@code {
    private Stream recordedAudioStream;
    private string AudioSource { get; set; }

    public async void StartRecording()
    {
        if (await Permissions.RequestAsync<Permissions.Microphone>() != PermissionStatus.Granted)
        {
            // Inform user to request permission
        }
        else
        {
            await AudioService.StartRecordingAsync();
        }

    }
    public async void StopRecording()
    {
        recordedAudioStream = await AudioService.StopRecordingAsync();


        var audioBytes = new byte[recordedAudioStream.Length];
        await recordedAudioStream.ReadAsync(audioBytes, 0, (int)recordedAudioStream.Length);
        var base64String = Convert.ToBase64String(audioBytes);

        SaveAudio($"data:audio/mpeg;base64,{base64String}");

        StateHasChanged();
    }

    private void SaveAudio(string audio, string name = "new")
    {
        string directoryPath = Environment.GetFolderPath(Environment.SpecialFolder.Personal);
        directoryPath = Path.Combine(directoryPath, @"\recvoicer");
        Directory.CreateDirectory(directoryPath);

        string filePath = Path.Combine(directoryPath, $"{DateTime.Now.ToString()} - {name}.txt");

        File.WriteAllText(filePath, audio);
    }
}