#dialogBox {
    background: linear-gradient(0deg, rgba(119,0,0,.8) 0%, rgba(0,0,0,.8) 100%);
    color: white;
    border: #a8a8a8;
    border-radius: 12px;
    position: relative;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}
#dialogBox span {
    display: block;
    text-align: center
}
#dialogBox input {
    text-align: center;
    margin: 10px;
    background: transparent;
    border: none;
    border-bottom: 3px solid #ffffff;
    color: white;
    outline: none;
}
#dialogBox button {
    display: block;
    margin: auto;
    border: none;
    background-color: rgb(255, 255, 255, 0.2);
    color: white;
    padding: 3px 10px;
}

.recordingButton {
    width: 50dvw;
    height: 50dvw;
    border-radius: 50%;
    position: fixed;
    top: 40dvh;
    left: 50%;
    transform: translate(-50%, -50%);
}
.recordingButton span {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10dvw;
    color: #d3d3d3;
}
#startRecording {
    background: rgba(119,0,0,1);
}
#stopRecording {
    background: rgba(119,0,0,.5);
    border: 2px solid black;
}
#timer {
    font-size: 10dvw;
    position: fixed;
    bottom: 30dvh;
    left: 50%;
    transform: translate(-50%, -50%);
    background: red;
}